* {
  border: solid;
  border-color: red;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*TOP SECTION*/
.top {
  background-color: #1f2937;
  color: #f9faf8;
}

/*HEADER*/
.header {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
}

.logo {
  font-size: 24px;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 12px;
}

a {
  text-decoration: none;
}

/*HERO*/
.hero {
  height: 500px;
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 20px;
}

img {
  width: 400px;
  height: auto;
}

.hero-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 500px;
  margin: 0;
  padding: 0;
}

.hero-info>h1 {
  font-size: 48px;
  font-weight: 800px;
  color: #f9faf8;
  margin: 0;
}

.hero-info>p,
a {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-button {
  width: 100px;
  background-color: #3882f6;
  color: #f9faf8;
  padding: 6px 12px;
  border-radius: 5px;
  font-weight: bold;
}

/*UPPER-MIDDLE SECTION*/
.upper-middle {
  text-align: center;
}

.title {
  font-size: 36px;
  font-weight: 800px;
  color: #1f2937;
  margin-bottom: 32px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 52px;
  height: 325px;
}

.info {
  /* box-sizing: border-box; */
  width: 200px;
}

.info-img {
  height: 200px;
  justify-content: center;
  border: 5px solid dodgerblue;
  border-radius: 10px;
  margin-bottom: 15px;
}

/*LOWER-MIDDLE SECTION*/
